<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div align="center">
     <style>
        .val
        {
            color: blue;
            font-style: italic;
            font-size: 24px;
        }
        hr {
            border: none;
            height: 2px;
            /* Set the hr color */
            color: #111; /* old IE */
            background-color: #222; /* Modern Browsers */
}
    </style>
<h1>Playlist {{ m3u.name }}</h1>
    <div   style="color: black;font-size: large">

        <b class="val">28 </b>


                tracks in playlist, average track length:

                <b class="val">7:17 </b>

                <br>
                Playlist length:

                     <b class="val">3 </b>

                hours <b class="val">24</b>
                minutes <b class="val">21</b>
                seconds
                <br>
        <hr/>

    </div>

</div>

</body>
</html>